
.code-highlight[data-v-61df61c7] {
  background: #2B3332;
  color: #FFFFFF;
  padding: 1.5rem 0.75rem;
  font-family: 'Source Code Pro', monospace;
  overflow: auto;
  display: block;
  box-sizing: border-box;
  max-width: 100%;
  border-radius: 10px;
  white-space: nowrap;
  font-size: 1.2rem;
}


.installation[data-v-04b6a5b3] {
  font-family: var(--default-font-family, 'Poppins', sans-serif);
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.375;
}
h1[data-v-04b6a5b3] {
  font-family: var(--secondary-title-font-family, Lato, sans-serif);
  font-weight: var(--secondary-title-weight, 300);
  font-size: 1.5rem;
}
h2[data-v-04b6a5b3] {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-family: var(--default-font-family, 'Poppins', sans-serif);
}
a[data-v-04b6a5b3] {
  color: #BF265E;
}
.logo[data-v-04b6a5b3] {
  text-align: center;
}
.logo img[data-v-04b6a5b3] {
  max-width: 90%;
}

